package @PackageName@;

import @PersistencePackageName1@;
import @PersistencePackageName2@;

public final class @SwarmFactoryType@ {
    private static final @SwarmType@ManagerFactory INSTANCE =
            @FactoryCreate@("transactions-optional");

    private @SwarmFactoryType@() {
    }

    public static @SwarmType@ManagerFactory get() {
        return INSTANCE;
    }
}