/out
.idea/workspace.xml
.gradle/
core-plugin/.gradle/
core-plugin/build/
core-plugin/google-cloud-tools-core.zip
google-login-plugin/.gradle/
google-login-plugin/.idea/inspectionProfiles/
google-login-plugin/build/
idea-IC/
