# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java text
*.yml text
*.xml text
*.md text
*.properties text
*.bat text
*.sh text
*.gradle text
*.html text
*.markdown text
*.css text
*.js text
# Allow gradle.bat to retain CRLF
gradlew.bat text eol=crlf
LICENSE text
CONTRIBUTORS text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jar binary
*.zip binary
